<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.fina.dao.BannerDao" >
  <resultMap id="BaseResultMap" type="com.baizhi.fina.entity.Banner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="des" property="des" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="multiDelete">
    delete from banner
    where id in
    <foreach collection="array" open="(" separator="," close=")" item="id">
      #{id}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.baizhi.fina.entity.Banner" >
    insert into banner (id, name, url, 
      status, createDate, des
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
      '显示', sysdate(), #{des,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.fina.entity.Banner" >
    update banner
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      des = #{des,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, url, status, createDate, des
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, url, status, createDate, des
    from banner where status='显示'
  </select>
</mapper>