<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.fina.dao.MenuDao" >
  <resultMap id="BaseResultMap" type="com.baizhi.fina.entity.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.baizhi.fina.entity.Menu" >
    insert into menu (id, title, pid, 
      icon, url)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{icon,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.fina.entity.Menu" >
    update menu
    set title = #{title,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, title, pid, icon, url
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, title, pid, icon, url
    from menu
  </select>
  <select id="selectAllD" resultMap="rm">
    select t1.id pid ,t1.title pname ,t1.url purl,t1.icon picon,t2.icon sicon,t2.url surl,t2.id  sid,t2.title sname from menu t1 left join menu t2
on t1.id=t2.pid where t1.pid is null
  </select>
  
  <resultMap id="rm" type="com.baizhi.fina.entity.Menu">
    <result property="id" column="pid"/>
    <result property="title" column="pname"/>
    <result property="url" column="purl"/>
    <result property="icon" column="picon"/>
    <collection property="list" ofType="com.baizhi.fina.entity.Menu">
      <result property="id" column="sid"/>
      <result property="title" column="sname"/>
      <result property="url" column="surl"/>
      <result property="icon" column="sicon"/>
    </collection>
  </resultMap>
</mapper>